{% extends 'add_layout.html'%}
{% load crispy_forms_tags %}
{% block title%}
<title>Add Company</title>
{% endblock%}

{%block card-title%}Add Company{%endblock%}


{% block card-body%}
<form method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <button class="btn btn-success border rounded" type="submit" style="margin: 5px;">{%block action%}Add{%endblock%}</button>
    <button class="btn btn-warning border rounded" type="reset" style="margin: 5px;">Reset</button>
    <a href="{%url 'dashboard'%}">
        <button class="btn btn-danger border rounded" type="button" style="margin: 5px;">Cancel</button>
    </a>
</form>

{%endblock%}





