{% extends 'detail_layout.html' %}

{% block title%}
<title>User Profile</title>
{% endblock%}

    {%block left-title%}User Profile{%endblock%}

    {% block left%}
<table class="table">
    <tr>
        <td>First Name</td>
        <td>{{user.first_name}}</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>{{user.last_name}}</td>
    </tr>
    <tr>
        <td>Username</td>
        <td>{{user.username}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <td>Contact Number</td>
        <td>{{user.profile.contact_number}}</td>
    </tr>
    <tr>
        <td>Company</td>
        <td>{{user.profile.company}}</td>
    </tr>
    <tr>
        <td><a href="{% url 'update' %}"><button class="btn btn-primary">Update</button></a></td>
        <td><a href="{% url 'password_change' %}"><button class="btn btn-primary">Change Password</button></a></td>
    </tr>

</table>
    {%endblock%}


    {%block right-title%}Profile Picture{%endblock%}

    {%block right%}
        <img src="{{user.profile.profile_picture.url}}" />

    {%endblock%}
