{% extends 'layout.html'%}

{% block content%}
<div class="row">
    <div class=" col col-12 col-lg-6">
        <div class="card" style="margin:10px;width:100%;padding-top:15px;">
            <h3 class="card-title" style="text-align:center;">{%block left-title%}{%endblock%}</h3>
            <div class="card-body" style=" padding-left:50px;">
                {% block left%}
                {%endblock%}
            </div>
        </div>
    </div>
    <div class=" col col-12 col-lg-6">
        <div class="card" style="        margin: 10px;
        width: 95%;
        padding-top: 15px;">
            <h3 class="card-title" style="text-align:center;">{%block right-title%}{%endblock%}</h3>
            <div class="card-body" style="align-content:center;">
                {%block right%}
                {%endblock%}
            </div>
        </div>
    </div>
</div>








        {% endblock %}
